<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="emailService" class="com.revature.training.springassignment.EmailService">
        <property name="message" value="This is an email"/>
    </bean>

    <bean id="smsService" class="com.revature.training.springassignment.SMSService">
        <property name="message" value="This is an SMS"/>
    </bean>

    
</beans>